{% extends 'base.html' %} 

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}

<div class="flex flex-col min-h-screen items-center justify-center bg-gradient-to-r from-gray-100 to-blue-200">
    <div class="flex flex-col lg:flex-row rounded-xl w-[350px] lg:w-[900px] h-[600px] lg:h-[500px] lg:min-h-[450px] items-center bg-white shadow-2xl">
        <div class="flex flex-col h-5/6 lg:h-full w-full lg:w-4/6 rounded-l-xl justify-center items-center gap-5">
            <h1 class="font-bold text-3xl">Sign Up</h1>
            {% if form.errors.items %}
                <div class="flex flex-col h-[50px] my-1 overflow-y-auto">
                    {% for field, error in form.errors.items %}
                        <div class="flex flex-col alert alert-danger text-red-700 justify-center items-center w-[200px] lg:w-[400px]" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" action="{% url 'users:register' %}">
                {% csrf_token %}
                <div class="flex flex-col gap-5">
                    <div class="flex flex-col gap-3">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        <div class="border border-blue-100" type="text" name="username" placeholder="Username" class="form-control">
                            {{ form.username }}
                        </div>
                    </div>
                            
                    <div class="flex flex-col gap-3">
                        <label for="{{ form.password1.id_for_label }}">Password</label>
                        <div class="border border-blue-100" type="password" name="password" placeholder="Password" class="form-control">
                            {{ form.password1 }}
                        </div>
                    </div>

                    <div class="flex flex-col gap-3">
                        <label for="{{ form.password2.id_for_label }}">Retype Password</label>
                        <div class="border border-blue-100 w-full relative">
                            {{ form.password2 }}
                        </div>
                    </div>
        
                    <div class="flex justify-center">
                        <input class="bg-blue-500 hover:bg-blue-600 text-white font-bold border border-blue-500 rounded px-[20px] py-[5px] hover:cursor-pointer" type="submit" value="SIGN UP">
                    </div>
                </div>
            </form>
        </div>
        <div class="flex relative flex-row h-1/6 lg:h-full w-full lg:w-1/3 rounded-b-xl lg:rounded-b-none lg:rounded-r-xl overflow-hidden">
            <div class="flex h-full w-full lg:translate-x-8 lg:skew-x-6 bg-blue-400">
            </div>
            <div class="flex absolute h-full w-full border-none">
                <div class="flex flex-col justify-center w-full items-center gap-3">
                    <h1 class="text-sm text-white font-bold">Already have an account?</h1>
                    <a class="bg-blue-400 hover:bg-blue-500 text-white font-bold border border-white rounded px-[20px] py-[5px] hover:cursor-pointer" href="{% url 'users:login' %}">
                        SIGN IN
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}