{% extends 'base.html' %}

{% block content %}
<div>
    <!-- Header -->
    <div class="flex flex-row h-[60px] lg:mb-[25px] border py-3 px-5 justify-between bg-gradient-to-r from-gray-100 to-blue-200 items-center">
        <div class="flex flex-row w-[300px] justify-self-start items-center gap-2">
            <div id="dropdown_general_button" class="lg:hidden mouse-pointer" onclick="toggleDropdownGeneral()">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
                </svg>
            </div>
            <h1 class="font-bold text-xl">BookPals</h1>
        </div>
        <div>
            <ul class="lg:flex flex-row gap-16 hidden">
                <li class="text-gray-800 font-semibold"><a href="{% url 'main:show_main' %}">Home</a></li>
                <li class="text-gray-800 font-semibold"><a href="{% url 'book_request:request_book' %}">Add New Book</a></li>
                <li class="text-gray-800 font-semibold"><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="flex flex-row gap-4 relative w-[300px] items-end justify-end">
            {% if user.is_authenticated %}
                <div class="flex flex-col mx-5">
                    <button id="dropdown_user_button" class="flex flex-row items-center justify-center gap-2" onclick="toggleDropdownUser()">
                        <h1 class="font-semibold">{{ user.username }}</h1>
                        <svg class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor"><path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10
                                10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" /></svg>
                    </button>
                    <div id="dropdown_user_menu" class="flex flex-col origin-top-right opacity-0 transition scale-0 divide-y absolute z-20 top-[50px] right-[20px] w-[200px] border rounded-lg bg-white shadow-md">
                        <a href="{% url 'user_profile:view_myprofile' %}" class="flex justify-end px-4 py-2 cursor-pointer hover:bg-gray-200">
                            Profile
                        </a>
                        <a href="#" class="flex justify-end px-4 py-2 cursor-pointer hover:bg-gray-200">
                            Requests
                        </a>
                        <a href="{% url 'users:logout' %}" class="flex justify-end px-4 py-2 cursor-pointer hover:bg-gray-200">
                            Sign Out
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'users:login' %}" class="px-3 py-2">Login</a>
                <a href="{% url 'users:register' %}" class="px-8 py-2 border rounded-xl bg-sky-500 text-white">Sign Up</a>
            {% endif %}
        </div>
    </div>

    <!-- Subheader for Mobile -->
    <div id="dropdown_general_menu" class="flex flex-col h-0 origin-top w-full transition scale-0 divide-y mb-[25px] lg:hidden border py-3 justify-between items-center">
        <a href="{% url 'main:show_main' %}" class="flex justify-center w-full px-4 py-2 cursor-pointer hover:bg-gray-200">
            Home
        </a>
        <a href="#" class="flex justify-center w-full px-4 py-2 cursor-pointer hover:bg-gray-200">
            Add New Book
        </a>
        <a href="{% url 'users:logout' %}" class="flex justify-center w-full px-4 py-2 cursor-pointer hover:bg-gray-200">
            About Us
        </a>
    </div>

    <!-- Modal -->
    <dialog class="modal rounded-lg" id="modal">
        <div id="form_div" class="w-full h-auto mx-auto rounded-b-lg bg-white flex flex-col md:flex-row justify-center shadow-2xl" style="display:none;">
            <div class="flex flex-col w-full h-full min-h-screen items-center justify-center bg-gradient-to-r from-gray-100 to-blue-200">
                <div class="h-14 bg-gradient-to-r from-cyan-400 to-blue-700 flex flex-col lg:flex-row rounded-xl w-[300px] lg:w-[1400px] h-[600px] lg:h-[700px] bg-white shadow-2xl relative">            
            <!-- Form to submit the book request -->
            <form id="form" onsubmit="addBookRequest(); return false;" class="w-full max-w-lg" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_name">
                            Book Name
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_name" type="text" name="name" placeholder="Book Name" required>
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_author">
                            Author
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_author" type="text" name="author" placeholder="Author" required>
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_original_language">
                            Original Language
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_original_language" type="text" name="original_language" placeholder="Original Language" required>
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_year_published">
                            Year Published
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_year_published" type="number" name="year_published" placeholder="Year Published" required>
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_sales">
                            Sales
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_sales" type="number" name="sales" placeholder="Sales" required>
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_genre">
                            Genre
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_genre" type="text" name="genre" placeholder="Genre" required>
                    </div>
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="id_cover_image">
                            Book Cover
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="id_cover_image" type="file" name="cover_image" required>
                    </div>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded close-button" type="submit">Submit</button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cancel-button" type="button">Cancel</button>
            </form>
        </div>
      </dialog>

    <!-- Container for showing book requests made by other users -->
    <div class="w-full md:w-500px rounded-lg mx-auto p-12 flex justify-center">
        <div class="w-full h-auto mx-auto bg-blue-400 items-center rounded-lg shadow-2xl flex flex-col">
            <h1 class="text-white font-bold p-2 text-3xl">Book Requests</h1>
            <div class="w-full h-auto mx-auto rounded-b-lg bg-white flex flex-col md:flex-row justify-center shadow-2xl">
                <!-- Table -->
                <table id="request_table"></table>
            </div>
            <div class="w-full h-auto mx-auto rounded-b-lg bg-white flex flex-col md:flex-row justify-center shadow-2xl">
                <!-- Button to show the form -->
                <button id="button_add" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-4 open-button">Add Book Request</button>
            </div>            
        </div>
    </div>
</div>
<script>
    function toggleDropdownUser() {
        const dropdownButton = document.getElementById("dropdown_user_button");
        const dropdownMenu = document.getElementById("dropdown_user_menu");
        
        dropdownMenu.classList.toggle('opacity-0');
        dropdownMenu.classList.toggle('scale-100');
        dropdownMenu.classList.toggle('scale-0');
    }

    function toggleDropdownGeneral() {
        const dropdownButton = document.getElementById("dropdown_general_button");
        const dropdownMenu = document.getElementById("dropdown_general_menu");

        dropdownMenu.classList.toggle('scale-100');
        dropdownMenu.classList.toggle('scale-0');
        dropdownMenu.classList.toggle('h-0');
    }

    function toggleFormDisplay() {
        const formDiv = document.getElementById("form_div");
        formDiv.style.display = "block";
    }

    document.getElementById("button_add").addEventListener("click", toggleFormDisplay);
    document.getElementById("button_add").onclick = () => {
        toggleFormDisplay();
    };

    async function getRequests(){
        return fetch("{% url 'book_request:get_requested_book' %}").then((res) => res.json())
    }

    async function refreshRequests(){
        document.getElementById("request_table").innerHTML = ""
        const requests = await getRequests()
        let htmlString = `<tr>
            <th>Requested Book</th>
            <th>Request Date</th>
            <th>Request Status</th>
        </tr>`
        requests.forEach((request) => {
            htmlString += `\n<tr>
            <td>${request.fields.name}</td>
            <td>${request.fields.request_date_added}</td>
            <td>${request.fields.request_status}</td>
        </tr>`
        })

        document.getElementById("request_table").innerHTML = htmlString
    }

    refreshRequests()

    function toggleFormDisplay() {
        const formDiv = document.getElementById("form_div");
        formDiv.style.display = "block";
    }

    async function addBookRequest() {
        const form = document.getElementById("form");
        const formData = new FormData(form);

        await fetch("{% url 'book_request:request_book' %}", {
            method: "POST",
            body: formData,
        });

        refreshRequests();
        form.reset();
    }

    document.getElementById("button_add").addEventListener("click", toggleFormDisplay);

    async function refreshItems() {
        document.getElementById("itemDeck").innerHTML = ""
        const books = await getItems()
        let htmlString = ""
        books.forEach((book) => {
            htmlString += `\n
            <button onclick=selectBook(${book.pk})>
                <div class="flex flex-row items-center rounded-xl border transition shadow-md hover:shadow-xl w-[350px] sm:w-[250px] lg:w-[350px] h-[200px] px-4 py-3 gap-3 cursor-pointer">
                    <img src='/media/${book.fields.cover_image}' class='w-[100px] rounded-lg drop-shadow-md'>
                    <div class="flex-col w-[250px] sm:w-[150px] lg:w-[250px]">
                        <div class="line-clamp-1 lg:line-clamp-2 font-semibold text-lg text-black">${book.fields.name}</div>
                        <div class="line-clamp-1 font-normal text-slate-400 text-sm">${book.fields.author}</div>
                        <div class="flex flex-row gap-2">
                            {% for i in n %}
                                {% if i < 3 %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-[16px] h-[16px] fill-yellow-400 bi bi-star-fill my-2" viewBox="0 0 16 16"> 
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> 
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-[16px] h-[16px] fill-gray-300 opacity-50 bi bi-star-fill my-2" viewBox="0 0 16 16"> 
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/> 
                                    </svg>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </button>`.replaceAll('177013', book.pk)
            
        });
        
        document.getElementById("itemDeck").innerHTML = htmlString;

        const hiddenElements = document.querySelectorAll("#card-book");
        console.log(hiddenElements);
        hiddenElements.forEach((element) => booksCardObserver.observe(element));
    }

    refreshItems()
    
    const modal = document.querySelector("#modal");
    const openModal = document.querySelector(".open-button");
    const closeModal = document.querySelector(".close-button");

    openModal.addEventListener("click", () => {
    modal.showModal();
    });

    closeModal.addEventListener("click", () => {
    modal.close();
    });

    const addBookButton = document.getElementById("button_add");
    const formDiv = document.getElementById("form_div")

    function cancelForm(){
        formDiv.style.display = "none"
        addBookButton.disabled = false;
    }
    document.querySelector(".cancel-button").addEventListener("click", cancelForm);

    // Event listener for the "Add Book Request" button
    addBookButton.addEventListener("click", () => {
        formDiv.style.display = "block";
        addBookButton.disabled = true;
    });
</script>

{% endblock content %}