{% extends "main.html" %}

{% block content %}
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 md:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-shrink-0 items-center">
          <a href="http://127.0.0.1:8000">
              <h1 class="text-gray-300 font-bold">📚 BookPals</h1>
          </a>
      </div>

      <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex items-center md:hidden">
          <!-- Mobile menu button-->
          <button  id="open-menu" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" >
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
      </div>

      <div class="hidden md:ml-6 md:block" id="">
          <div class="flex space-x-2 text-center items-center">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium">Home</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium">Book Catalogue</a>
            <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-md font-medium" aria-current="page">Book Swap</a>
            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-md font-medium">About Us</a>
          </div>
        </div>
      
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 md:static md:inset-auto md:ml-6 md:pr-0">
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button id="open-profile" type="button" class="text-white p-5 relative flex rounded-full bg-gray-800 text-md" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <h1>{{ username }}</h1>
            </button>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              T"tro: ansform opacity-0 scale-95"
          -->
          <div id="profile" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="#" class="block px-4 py-2 text-md text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-md text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden md:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pb-3 pt-2 text-center">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Home</a>
      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Book Catalogue</a>
      <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Book Swap</a>
      <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About us</a>
    </div>
  </div>
</nav>
<div class="flex justify-center text-center">
  <div class="text-gray-900 bg-gray-800 p-6 bg-transparent">
    <h1 class="font-bold text-3xl my-3">Book Swap</h1>
    <img src="https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg?t=st=1698564489~exp=1698568089~hmac=bfc94097dda55db920ac301c92acb1554f6f1f78dcb9b76edbdc1becabe76dc3&w=826" alt="" class=" my-3">
    <p class="my-3">Minta buku yang kamu ingin tukar dengan yang lain</p>
    <a href="{% url 'request_book_swap' %}">    
      <button id="open-modal" class="bg-gray-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Tukar sekarang
      </button>
    </a>
  </div>
</div>

{% block content2 %}
{% endblock %}
<script>
const openMenu = document.getElementById('open-menu');
const mobileMenu = document.getElementById('mobile-menu');
const openProfile = document.getElementById('open-profile');
const Profile = document.getElementById('profile');
const openModal = document.getElementById('open-modal');
const closeModal = document.getElementById('close-modal');
const cancelModal = document.getElementById('cancel-modal');
const modal = document.getElementById('book-swap-modal');

openMenu.addEventListener('click', () => {
    if(mobileMenu.classList.contains('hidden')){
        mobileMenu.classList.remove('hidden');
        if (!Profile.classList.contains('hidden')){
          Profile.classList.add('hidden');
        }
    }
    else {
        mobileMenu.classList.add('hidden');
    }
});


openProfile.addEventListener('click', () => {
    if(Profile.classList.contains('hidden')){
        Profile.classList.remove('hidden');
        setTimeout(function() {
        Profile.classList.add('hidden');
        }, 10000);
        if (!mobileMenu.classList.contains('hidden')){
          mobileMenu.classList.add('hidden');
        }
    }
    else {
        Profile.classList.add('hidden');
    }
});

document.addEventListener("scroll", () => {
    Profile.classList.add('hidden');
    mobileMenu.classList.add('hidden');
});

</script>
{% endblock %}
