{% extends "book_swap_main.html" %}

{% block content2 %}
<!--Mobile Content-->
<div class="justify-center" id="mobile-content">
  <!--Table-->
  <div class="text-center">
  <h1 class="font-bold text-3xl mx-3">Daftar Tukar Buku</h1>
  <div class="justify-center items-center inline-flex">
    <a href="{% url 'book_swap:show_processed_book_swap' %}">  
      <div class="text-white bg-gray-800 shadow rounded-lg my-3 p-2 mx-3" aria-current="page">
        <h1 class="font-bold">Diproses</h1>
      </div>
    </a>
    <a href="#">  
      <div class="text-white bg-gray-900 hover:bg-gray-600 shadow rounded-lg my-3 p-2 mx-2">
        <h1 class="font-bold">Menunggu permintaan</h1>
      </div>
    </a>
    <a href="{% url 'book_swap:show_accepted_book_swap' %}">  
      <div class="text-white bg-gray-800 hover:bg-gray-600 shadow rounded-lg my-3 p-2 mx-3">
        <h1 class="font-bold">Diterima</h1>
      </div>
    </a>
  </div>
  
  <div class="md:inline-flex text-white bg-gray-800 shadow rounded-lg mx-3 my-3 p-6 justify-center items-center">
    <form action="{% url 'book_swap:show_queue_book_swap' %}">
      <button class="btn btn-outline-success hover:bg-blue-700 rounded" type="submit">Reset</button>
    </form>

    <h1 class="me-3">Cari kata kunci</h1>
    <form action="{% url 'book_swap:search_key' %}" method="POST">
      {% csrf_token %}
      <input
      class="form-control me-2 bg-gray-900"
      type="search"
      placeholder="Search"
      name="search_query"
      required aria-label="Search"
   >
    <button class="btn btn-outline-success hover:bg-blue-700 rounded" type="submit">Cari</button>
  </form>
  </div>

  <!--Card-->
  <div id="header">
    <div class="flex bg-gray-800 m-3 p-6">
      <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">Buku Pengirim</h1>
      </div>
      <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">Buku Yang Diinginkan</h1>
      </div>
      <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">User Pengirim</h1>
      </div>
      <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">Aksi</h1>
      </div>
    </div>
  </div>
  <!--<a href="{% url 'book_swap:delete_all_swap' %}">
    Reset
  </a>-->

  <div id="content" class="align-center p-3">
    <p>Tidak ada Konten</p>
  </div>
</div>
<script>
  async function getSwaps() {
        return fetch("{% url 'book_swap:get_waiting_accept_book_json' %}").then((res) => res.json())
    }

  async function refreshSwaps(){
    document.getElementById("content").innerHTML = ""
    const swaps = await getSwaps()
    let content = ``
    swaps.forEach((swap) => {
      content += `
      <div class="flex bg-gray-800 m-3 p-6">
        <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">${swap.fields.want_book}</h1>
      </div>
      <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">${swap.fields.have_book}</h1>
      </div>
      <div class="flex-auto w-32">
        <h1 class="font-semibold text-white text-center">${swap.fields.from_user}</h1>
      </div>
      <div class="flex-auto w-32">
        <a href="">
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick=acceptReq(${swap.pk})>
            Terima
          </button>
        </a>
      </div>
        </div>
      `
      document.getElementById("content").innerHTML = content
    })
  }
  refreshSwaps()
  function acceptReq(id){
    fetch("{% url 'book_swap:accept_book_swap' %}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}"
      },
      body: JSON.stringify({id: id})
    }).then(() => {
      refreshSwaps()
    })
  }
</script>
{% endblock %}