{% extends 'base.html' %}

{% block content %}

<div>
    <!-- Header -->
    <div class="flex flex-row h-[60px] lg:mb-[25px] border py-3 px-5 justify-between bg-gradient-to-r from-gray-100 to-blue-200 items-center">
        <div class="flex flex-row w-[300px] justify-self-start items-center gap-2">
            <div id="dropdown_general_button" class="lg:hidden mouse-pointer" onclick="toggleDropdownGeneral()">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
                </svg>
            </div>
            <h1 class="font-bold text-xl">BookPals</h1>
        </div>
        <div>
            <ul class="lg:flex flex-row gap-16 hidden">
                <li class="text-gray-800 font-semibold"><a href="{% url 'main:show_main' %}">Home</a></li>
                <li class="text-gray-800 font-semibold"><a href="#">Add New Book</a></li>
                <li class="text-gray-800 font-semibold"><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="flex flex-row gap-4 relative w-[300px] items-end justify-end">
            {% if user.is_authenticated %}
                <div class="flex flex-col mx-5">
                    <button id="dropdown_user_button" class="flex flex-row items-center justify-center gap-2" onclick="toggleDropdownUser()">
                        <h1 class="font-semibold">{{ user.username }}</h1>
                        <svg class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor"><path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10
                                10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" /></svg>
                    </button>
                    <div id="dropdown_user_menu" class="flex flex-col origin-top-right opacity-0 transition scale-0 divide-y absolute z-20 top-[50px] right-[20px] w-[200px] border rounded-lg bg-white shadow-md">
                        <a href="{% url 'user_profile:view_myprofile' %}" class="flex justify-end px-4 py-2 cursor-pointer hover:bg-gray-200">
                            Profile
                        </a>
                        <a href="#" class="flex justify-end px-4 py-2 cursor-pointer hover:bg-gray-200">
                            Requests
                        </a>
                        <a href="{% url 'users:logout' %}" class="flex justify-end px-4 py-2 cursor-pointer hover:bg-gray-200">
                            Sign Out
                        </a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'users:login' %}" class="px-3 py-2">Login</a>
                <a href="{% url 'users:register' %}" class="px-8 py-2 border rounded-xl bg-sky-500 text-white">Sign Up</a>
            {% endif %}
        </div>
    </div>

    <!-- Subheader for Mobile -->
    <div id="dropdown_general_menu" class="flex flex-col h-0 origin-top w-full transition scale-0 divide-y mb-[25px] lg:hidden border py-3 justify-between items-center">
        <a href="{% url 'main:show_main' %}" class="flex justify-center w-full px-4 py-2 cursor-pointer hover:bg-gray-200">
            Home
        </a>
        <a href="#" class="flex justify-center w-full px-4 py-2 cursor-pointer hover:bg-gray-200">
            Add New Book
        </a>
        <a href="{% url 'users:logout' %}" class="flex justify-center w-full px-4 py-2 cursor-pointer hover:bg-gray-200">
            About Us
        </a>
    </div>

    <!-- Container book details -->
    <div class="w-full md:w-500px rounded-lg mx-auto p-12 flex justify-center">
        <div class="w-full h-auto mx-auto bg-blue-400 items-center rounded-lg shadow-2xl flex flex-col">
            <h1 class="text-white font-bold p-2 text-3xl">Book Details</h1>
            <div class="w-full h-auto mx-auto rounded-b-lg bg-white flex flex-col md:flex-row justify-center shadow-2xl">
                <!-- Image -->
                <div class="w-2/5 md:w-1/5 h-auto mx-auto rounded-lg p-5 flex-1 flex justify-center flex-col">
                    <img class="w-full h-auto mx-auto rounded-lg shadow-2xl object-cover" src="{{ cover_image.url }}" alt="{{ name }}">
                </div>
                <!-- Details -->
                <div class="w-4/5 h-auto mx-auto rounded-lg p-5 flex-2 flex justify-center flex-col">
                    <h1 class="text-black font-bold text-3xl">{{ name }}</h1>
                    <div class="text-lg py-[20px]">
                        <p>By {{ author }}, {{ original_language }} - {{ year_published }}, {{ genre }}</p>
                        <p>Ratings: 0/5</p>
                    </div>
                    <div class="border border-black w-4/5 h-auto rounded-lg p-5 py-[20px] shadow-2xl">
                        <p class="py-[5px]">No reviews yet</p>
                    </div>
                    <div class="w-full h-auto mx-auto rounded-lg py-[20px]">

                        <form class="w-full text-white font-bold py-[20px] " action="{% url 'catalog:bookmark_book' id=id  %}" method="post">
                            {% csrf_token %}
                            <button id="bookmarkButton" class="btn bg-blue-400 hover:bg-blue-500 w-[200px] min-w-[100px] text-white font-bold border border-white rounded px-[1px] py-[5px] hover:cursor-pointer" type="submit">
                            </button>
                            <nav class="w-full py-[10px]">
                                <a href="../../bookmarked/" class="btn bg-blue-400 hover:bg-blue-500 w-[200px] text-white font-bold border border-white rounded px-[10px] py-[5px] hover:cursor-pointer">See Bookmark</a>
                                <a class="btn bg-blue-400 hover:bg-blue-500 w-[200px] min-w-[100px] text-white font-bold border border-white rounded px-[10px] py-[5px] hover:cursor-pointer">Request book swap?</a>
                            </nav>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleDropdownUser() {
        const dropdownButton = document.getElementById("dropdown_user_button");
        const dropdownMenu = document.getElementById("dropdown_user_menu");
        
        dropdownMenu.classList.toggle('opacity-0');
        dropdownMenu.classList.toggle('scale-100');
        dropdownMenu.classList.toggle('scale-0');
    }

    function toggleDropdownGeneral() {
        const dropdownButton = document.getElementById("dropdown_general_button");
        const dropdownMenu = document.getElementById("dropdown_general_menu");

        dropdownMenu.classList.toggle('scale-100');
        dropdownMenu.classList.toggle('scale-0');
        dropdownMenu.classList.toggle('h-0');
    }
    
    let lastTime = -1;
    function searchBooks(value, searchTime) {
        lastTime = searchTime;
        setTimeout(async function() { // Make sure not to spam request to backend
            if (searchTime != lastTime) return;
            if (value && value != "") {
                const books = await fetch(`{% url 'main:get_books_by_name' 177013 %}`.replace(177013, value)).then((res) => res.json());
                buildBrowseBooks(books);
            } else {
                buildBrowseBooks(await getBooks());
            }
        }, 700);
    }


    async function getMarked() {
        return fetch("{% url 'catalog:get_marked_books' %}").then((res) => res.json())
    }

    async function refreshMark() {
        const bookmarkButton = document.getElementById("bookmarkButton");
        bookmarkButton.innerHTML = "";

        const books = await getMarked();
        const id = "{{ id }}";
        let isBookmarked = false;
        
        books.forEach(book => {
            if (book.pk == id){
                isBookmarked = true;
            }
        });

        if (isBookmarked) {
            bookmarkButton.textContent = "Bookmarked";
        } else {
            bookmarkButton.textContent = "Bookmark";
        }
    }
refreshMark()
</script>
{% endblock %}
