{% extends 'base.html' %} 

{% block content %}

<div>
    <!-- Header -->
    {% include 'header.html' %}
    <!-- Featured books -->
    <div>
        <h1 class="font-bold text-3xl mx-[50px] my-[20px]">For You</h1>
        <div class="flex justify-center items-center">
            <div id="featured_books" class="flex flex-col lg:flex-row w-full h-auto lg:h-[250px] items-center gap-3 overflow-x-auto snap-x snap-normal snap-mandatory">
                <!-- Coded in javascript -->
            </div>
        </div>
    </div>
    <!-- Browse books -->
    <div class="flex flex-col mt-[30px] mb-[60px]">
        <h1 class="font-bold text-2xl mx-[50px]">Browse</h1>
        <div class="flex flex-col justify-center items-center my-5 gap-1">
            <h1 class="font-bold text-lg">Search your books here!</h1>
            <input id="search_input" type="text" class="rounded-xl bg-gray-200 w-[300px] lg:w-[350px] h-[40px] px-3 py-1 border-black border" placeholder="The title..." value="" autocomplete="off">
        </div>
        <div id="browse_books" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4 w-full h-auto items-center justify-center justify-items-center gap-4 px-[50px] py-2">
            <!-- Coded in javascript -->
        </div>
    </div>
</div>

<script>
    const featured_book_ids = [3, 7, 6, 68, 32];
    const featured_book_colors = {
        3: 'from-indigo-800 to-indigo-400', 
        6: 'from-red-600 to-red-300', 
        7: 'from-sky-500 to-sky-200',
        68: 'from-green-700 to-green-500',
        32: 'from-pink-400 to-pink-200',
    };

    async function getBooks() {
        return fetch("{% url 'main:get_books' %}").then((res) => res.json());
    }

    async function buildFeaturedBooks(featured_books) {
        document.getElementById("featured_books").innerHTML = "";
        let htmlString = ``;
        featured_books.forEach((book) => {
            htmlString += `\n
            <a href="{% url 'catalog:book_details' id=177013 %}">
                <div class="flex flex-row relative snap-center items-center hover:cursor-pointer rounded-xl transition shadow-md hover:shadow-xl w-[300px] lg:w-[400px] h-[200px] px-4 py-3 mx-1 gap-3 bg-gradient-to-t ${featured_book_colors[book.pk]}">
                    <img src='media/${book.fields.cover_image}' class='w-[100px] rounded-lg drop-shadow-md'>
                    <div class="flex-col w-[200px] lg:w-[300px]">
                        <div class="line-clamp-1 lg:line-clamp-2 font-bold text-md lg:text-lg text-white">${book.fields.name}</div>
                        <div class="line-clamp-1 text-white">By ${book.fields.author}</div>
                        <div class="h-[5px]"></div>
                        <div class="truncate text-white text-xs">${book.fields.genre}</div>
                        <div class="truncate text-white text-xs">${book.fields.original_language} - ${book.fields.year_published}</div>
                        <div class="flex flex-row gap-2">
                            ${getStarRatingHtml(book.calculate_average_rating)}
                        </div>
                    </div>
                </div>
            </a>`.replaceAll('177013', book.pk)
        });
        
        document.getElementById("featured_books").innerHTML = htmlString;
    }

    async function buildBrowseBooks(books) {
        document.getElementById("browse_books").innerHTML = "";
        let htmlString = ``;
        books.forEach((book) => {
            htmlString += `\n
            <a href="{% url 'catalog:book_details' id=177013 %}">
                <div class="flex flex-row items-center rounded-xl border transition shadow-md hover:shadow-xl w-[350px] sm:w-[250px] lg:w-[350px] h-[200px] px-4 py-3 gap-3 cursor-pointer">
                    <img src='media/${book.fields.cover_image}' class='w-[100px] rounded-lg drop-shadow-md'>
                    <div class="flex-col w-[250px] sm:w-[150px] lg:w-[250px]">
                        <div class="line-clamp-1 lg:line-clamp-2 font-semibold text-lg text-black">${book.fields.name}</div>
                        <div class="line-clamp-1 font-normal text-slate-400 text-sm">${book.fields.author}</div>
                        <div class="flex flex-row gap-2">
                            ${getStarRatingHtml(book.calculate_average_rating)}
                        </div>
                    </div>
                </div>
            </a>`.replaceAll('177013', book.pk)
        });
        
        document.getElementById("browse_books").innerHTML = htmlString;

        const hiddenElements = document.querySelectorAll("#card-book");
        console.log(hiddenElements);
        hiddenElements.forEach((element) => booksCardObserver.observe(element));
    }

    function getStarRatingHtml(rating) {
        const maxRating = 5;
        let starHtml = '';
        if (rating === null) {
            starHtml = 'N/A';
        } else {
            starHtml += '<div class="flex items-center">';
            for (let i = 1; i <= maxRating; i++) {
                if (i <= rating) {
                    starHtml += '<svg class="w-4 h-4 text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path></svg>';
                } else {
                    starHtml += '<svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path></svg>';
                }
            }
            starHtml += '</div>';
        }

        return starHtml;
    }

    async function refreshBooks() {
        const books = await getBooks();
        const featured_books = books.filter(book => featured_book_ids.includes(book.pk));
        
        buildFeaturedBooks(featured_books);
        buildBrowseBooks(books);
    }

    function toggleDropdownUser() {
        const dropdownButton = document.getElementById("dropdown_user_button");
        const dropdownMenu = document.getElementById("dropdown_user_menu");
        
        dropdownMenu.classList.toggle('opacity-0');
        dropdownMenu.classList.toggle('scale-100');
        dropdownMenu.classList.toggle('scale-0');
    }

    function toggleDropdownGeneral() {
        const dropdownButton = document.getElementById("dropdown_general_button");
        const dropdownMenu = document.getElementById("dropdown_general_menu");

        dropdownMenu.classList.toggle('scale-100');
        dropdownMenu.classList.toggle('scale-0');
        dropdownMenu.classList.toggle('h-0');
    }
    
    let lastTime = -1;
    function searchBooks(value, searchTime) {
        lastTime = searchTime;
        setTimeout(async function() { // Make sure not to spam request to backend
            if (searchTime != lastTime) return;
            if (value && value != "") {
                const books = await fetch(`{% url 'main:get_books_by_name' 177013 %}`.replace('177013', value)).then((res) => res.json());
                buildBrowseBooks(books);
            } else {
                buildBrowseBooks(await getBooks());
            }
        }, 700);
    }

    const booksCardObserver = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry);
            if (entry.isIntersecting) {
                entry.target.classList.remove('opacity-0');
                entry.target.classList.remove('blur-md');
                entry.target.classList.remove('translate-y-full');
                entry.target.classList.add('opacity-1');
                entry.target.classList.add('blur-none');
                entry.target.classList.add('translate-y-0');
            }
        });
    });

    const searchInput = document.getElementById("search_input");

    refreshBooks();
    searchInput.oninput = function(event) {
        searchBooks(event.target.value, event.timeStamp);
    };
</script>
{% endblock %}